.article {
  padding: 3.6rem 0;
}

.article-text-box {
  padding: 9.6rem 9.6rem 2.4rem 9.6rem;
}

.heading-h3 {
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  padding: 3.2rem 0;
  align-items: top;
  justify-content: left;
  gap: 9.6rem;
}

.main-text {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.5;
}

.side-blurb {
  font-size: 1.6rem;
  line-height: 1.5;
}

.author {
  font-size: 1.6;
  margin-top: 2rem;
}

.container-img {
  display: flex;
  flex-direction: column;
  padding: 0 9.6rem;
}

.article-img img {
  background-size: cover;
  display: block;
  margin: 0 auto;
  opacity: 0.7;
  overflow: hidden;
  filter: drop-shadow(0 2.4rem 4.8rem rgba(0, 0, 0, 0.075));
  border-radius: 9px;
}

.orchard-caption {
  font-size: 1.4rem;
  padding-top: 1.6rem;
  font-weight: 500;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.p::first-letter {
  color: #d27368;
  background-color: #eae7dc;
  border-radius: 5px;
  font-size: 400%;
  font-family: "Rubik", sans-serif;
  margin-right: 6px;
  float: left;
  padding: 0 4px;
}

.author-container {
  display: flex;
}

.author-image {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.author-txt {
  padding-left: 2.4rem;
  font-size: 1.6rem;
}
